html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #0f0f0f;
}
.align {
  display: flex;
  align-items: center;
  justify-content: center;
}
#embed {
  width: 100%;
  max-width: 2400px;
  aspect-ratio: 16/9;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnclass {
  background-color: hsla(0,0%,100%,.08);
  border: 2px solid hsl(0,0%,18.82%);
  color: #FFFFFF;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
  font-size: 28px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 16px;
}
input {
    width: 500px;
    height: 25px;
    font-size: 20px;
    color: white;
    border: 2px solid hsl(0,0%,18.82%);
    border-radius: 6px;
    padding: 2px 8px;
    margin-top: 32px;
    background-color: #0b0b0b;
}
