html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #0f0f0f;
}
.align {
    display: flex;
    align-items: center;
    justify-content: center;
}
#embed {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loadbutton {
    background-color: #222222;
    border: 2px solid hsl(0,0%,18.82%);
    color: #FFFFFF;
    padding: 8px 16px;
    text-align: center;
    display: inline-block;
    font-size: 28px;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 16px;
}
#gonow {
    background-color: #222222;
    border: 2px solid hsl(0,0%,18.82%);
    color: #FFFFFF;
    padding: 4px 8px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 32px;
    margin-left: 1;
}
input {
    height: 25px;
    font-size: 20px;
    color: white;
    border: 2px solid hsl(0,0%,18.82%);
    border-radius: 6px;
    padding: 2px 8px;
    margin-top: 32px;
    background-color: #0b0b0b;
}
#pausebutton {
    background-color: #222222;
    border: 2px solid hsl(0,0%,18.82%);
    padding: 8px 16px;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 15px;
}
#gobackbutton {
    background-color: #222222;
    border: 2px solid hsl(0,0%,18.82%);
    padding: 8px 16px;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 15px;
    margin-right: 30px;
}
#goforwardbutton {
    background-color: #222222;
    border: 2px solid hsl(0,0%,18.82%);
    padding: 8px 16px;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 30px;
}
