html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #0f0f0f;
}
.align {
  display: flex;
  align-items: center;
  justify-content: center;
}
#embed {
  width: 100%;
  max-width: 800px;
  aspect-ratio: 16/9;
  margin: 0 auto;
}
